<header id="header" style="margin-left: 2em; padding: 1.2em;">
  <!--header-->
  <img src="../assets/images/logo.png" width="70px" style="float: left;" />

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="mainmenu pull-left">
          <ul
            class="nav navbar-nav collapse navbar-collapse"
            style="margin-left: 1.5em; margin-top: 1.5em;"
          >
            <li><a [routerLink]="['/index']" class="active">Inicio</a></li>
            <li class="dropdown">
              <a [routerLink]="['/index']">Productos<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a [routerLink]="['/entry']">Entrada</a></li>
                <li><a [routerLink]="['/output']">Salida</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/transfers']">Transacciones</a></li>
            <!-- <li><a href="#">Contactos</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->
<div style="height: 2px; border: 0; background-color: #ef5734;"></div>
<!--The content below is only a placeholder and can be replaced.-->
<section style="margin: 2em;">
  <router-outlet></router-outlet>
</section>
